@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">WELCOME TO TRIBE ACCELERATOR COHORT MANAGEMENT PORTAL</h1>
    <p>Learn about <a href="https://tribeaccelerator.co/"></a>TRIBE ACCELERATOR WEBSITE</p>
</div>
